# Assignment 8, Part 2: Pandas Practice

Use this notebook to follow along wit the tasks in the `AO4-Pandas_Part2.ipynb` notebook.

## Instructions
For each task, use the cell below to write and test your code.  You may add additional cells for any task as needed or desired.

## Task 1a: Setup

Prepare the practice notebook:
- import pandas
- re-create the `df` data frame
- re-create the `iris_df` data frame

In [1]:
import pandas as pd

## Task 2a: Inserting Columns

Create a copy of `df`, and modify it:

+ add a new column to the `
+ select and set values using a boolean operator.

## Task 3a: Missing Data

Create two new copies of the `df` dataframe:

+ One with the `NaN` values replaced with a value of your choice.
+ One with the rows with `NaN` values removed.

## Task 4a: Operations

View the [Computational tools](https://pandas.pydata.org/pandas-docs/stable/user_guide/computation.html) and [statistical methods](https://pandas.pydata.org/pandas-docs/stable/user_guide/computation.html#method-summary) documentation.
Using the list of operational functions choose 5 to practice using the iris data frame.

## Task 4b:  Apply
Practice using `apply` on either the `df` or `iris_df` data frames using any two functions of your choice.

## Task 4c.  Occurances
Ientify the number of occurances for each species (virginica, versicolor, setosa) in the `iris_df` object.  *Hint*: the `value_counts` function only works on a `pd.Series` object, not on the full data frame.

## Task 5a: String Methods

Demonstrate the spliting and combination of columns.

+ Create your list of words, as shown above.
+ Combine two or more columns into one. *You can use string combinations, or do math on numeric columns.*
+ Split a column into two.

## Task 6a: Concat and append data frames

Create two new dataframes and use them to demonstrate use of the following functions:

+ `pd.concat()`
+ `df.append()`

## Task 6b: Grouping


Demonstrate a `groupby`.

+ Create a new column with the label `region` in the iris data frame. This column will indicates geographic regions of the US where measurments were taken. Values should include:  'Southeast', 'Northeast', 'Midwest', 'SouthWest', 'Pacific Northwest. (These can be randomly assigned).
+ Use `groupby` to get a new data frame of means for each species in each region.
+ Add the `dev_stage` column using the commands shown in section 6.3
+ Use `groupby` to get a new data frame of means for each species,in each region and each development stage.
+ Use the `count` function (just like you used the `mean` function) to identify how many rows in the table belong to each combination of species + region + developmental stage.